# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables or credentials
.env

# Logs and temporary files
*.log
*.tmp

# Model artifacts
*.pkl
*.joblib
*.h5

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
